<!doctype html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}Free Body Designs{% endif %}</title>
    <meta name="author" content="Eric Lam" />
    <meta name="description" content="Swim, dance, and athleisure for all bodies" />
    <meta name="keywords" content="athleisure" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified JQuery -->
    <link rel="icon" type="image/png" href="/images/icon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
	<div class="col col-sm-9">
	  <a href="/"><img class="pull-left" src="/images/logo-small.png" height="150" /></a>
	</div>
	<div class="col col-sm-3 d-none d-sm-block">
	  <div class="list-group pre-nav">
	    <a class="list-group-item list-group-item-action" href="https://www.etsy.com/shop/FreeBodyDesigns">Etsy</a>
	    <a class="list-group-item list-group-item-action" href="https://www.instagram.com/freebodydesigns/">Instagram</a>
	    <a class="list-group-item list-group-item-action" href="https://www.facebook.com/freebodydesigns/">Facebook</a>
	  </div>
	</div>
      </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
	<a class="navbar-brand">Free Body Designs</a>
	<div class="collapse navbar-collapse" id="navbarLinks">
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <a class="nav-item nav-link" id="nav-about" href="/">About</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-item nav-link" id="nav-shop" href="/shop">Shop</a>
	    </li>
	    <li class="nav-item dropdown" id="nav-dance">
	      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Ballroom
	      </a>
	      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		<!-- <a class="dropdown-item" href="/dance">Ballroom Dancewear</a> -->
		<a class="dropdown-item" href="/custom-costumes">Custom Costumes</a>
		<a class="dropdown-item" href="/practicewear">Practicewear</a>
		<a class="dropdown-item" href="/repairs">Repairs</a>
		<a class="dropdown-item" href="/alterations">Alterations</a>
		<a class="dropdown-item" href="/order">Order</a>
	      </div>
	    </li>
	    <!-- <a class="nav-item nav-link" id="nav-blog" href="#">Blog</a> -->
	    <li class="nav-item">
	      <a class="nav-item nav-link" id="nav-contact" href="/contact">Contact</a>
	    </li>
	    <!-- <a class="nav-item nav-link" id="nav-policy" href="#">Policy</a> -->
	  </ul>
	</div>
	<div>
	  <span class="navbar-text text-right">
	    swim, dance &amp; athleisure for all bodies
	  </span>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      	  <span class="navbar-toggler-icon"></span>
	</button>
      </div>
    </nav>
    <br />
    
    <main>
      <div class="container text-left">
	{{ content }}
      </div>
    </main>

    <footer class="text-center footer">
      <a class="social-icon" href="https://www.etsy.com/shop/FreeBodyDesigns"><i class="fa fa-etsy"></i></a>
      <a class="social-icon" href="https://www.instagram.com/freebodydesigns/"><i class="fa fa-instagram"></i></a>
      <a class="social-icon" href="https://www.facebook.com/freebodydesigns/"><i class="fa fa-facebook-f"></i></a>
    </footer>
  </body>

  <script>
    var pageUrl = "{{ page.url }}";
    pageUrl = pageUrl.replace(/^\/+|\/+$|\/.+/g, "");
    if (pageUrl.length === 0) pageUrl = "about";
    if (pageUrl === "practicewear" || pageUrl === "custom-costumes") pageUrl = "dance";

    $("#nav-" + pageUrl).addClass("active");
  </script>
</html>
